@charset "ISO-8859-1";

body{
	background: url("green_felt_background.jpg");
	color: white;
	font-weight: bold;
}

table{
	text-transform: capitalize;
	 text-align: center;
	 display: inline-block;
	 margin-right: 10%;
	 margin-left:20%;
	 font-weight: 900;
	 
}

h1 {
	text-align: center;
}
a {
	position: absolute;
	left: 45%;

	top: 80%;

	font-weight: bold;

}

th {
	border: solid white 2px;
}

td{
	border: solid white 2px;
	font-weight: bold;
}

