@charset "ISO-8859-1";

table{
	text-transform: capitalize;
	 text-align: center;
	 display: inline-block;
	 margin-right: 200px;
	 margin-left:20%;
}

h1 {
	text-align: center;
}

th {
	border: solid black 1px;
}

td{
	border: solid black 1px;
}

