@charset "ISO-8859-1";

div {
	width: 100%;
	height: 30vh;
	text-align:center;
	border:solid 1px black;
	color: white;
	
}

button {
	margin-top: 25px;
}

#black {
	position: absolute;
	top: 50px;
	left: 50px;	
	font-size: 500%;
}
#jack {
	position: absolute;
	top: 50px;
	right: 50px;	
	font-size: 500%;
}
#dealerHand {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
#playerHand {
	margin-top: 25px;
}

img {
	width: 100%;
	height: auto;
}

th{
	width: 75px;
}

.backside {
	height: auto;
	width: 87%;
}

body {
	background-image: url("https://image.freepik.com/free-photo/green-poker-table-felt-background-with-shade-vignette_48277-156.jpg");
}