@charset "ISO-8859-1";

div {
	width: 100%;
	height: 30vh;
	text-align:center;
	border:solid 1px black;
	color: white;
	
}

button {
	margin-top: 25px;
}

#black {
	position: absolute;
	top: 50px;
	left: 50px;	
	font-size: 500%;
}
#jack {
	position: absolute;
	top: 50px;
	right: 50px;	
	font-size: 500%;
}
#dealerHand {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
#playerHand {
	margin-top: 25px;
	display:inline-block;
	margin-right: 50px;
}

img {
	width: auto;
	height: 100px;
}

td{
	width: 75px;
}
th{
	width: 75px;
}
#diamond {
	height: 30px;
	width: 30px:
}

.backside {
	height: auto;
	width: 87%;
}

body {
	background-image: url("https://image.freepik.com/free-photo/green-poker-table-felt-background-with-shade-vignette_48277-156.jpg");
}

h2{
	color: white;
}

.lastfive {
	width: 75px;
}

#winLeader {
	right: 0;
	position: absolute;
}

#handsWon {
	text-align: center;
}