@charset "ISO-8859-1";

body{
	background-image: url("Blackjack_6.jpeg");
	background-repeat: no-repeat;
	background-size: 115% 300%;
	
}

h1{
	color: green;
	text: bold;
	font-style: normal;
}

button {
  background-color: #4CAF50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  text: bold;
}

h1 {
	color: green;
	text: bold;
	font-style: normal;
}

